<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/count.css">
</head>
<body>
  <h2>カウントアプリbyさかも</h2>
  <h1><%= @number %></h1>
  <form action="/plus" method="post">
    <input type="submit" value="+">
  </form>
  <form action="/minus" method="post">
    <input type="submit" value="-">
  </form>
  <form action="/2x" method="post">
    <input type="submit" value="2x">
  </form>
  <form action="/reset" method="post">
    <input type="submit" value="reset">
  </form>
</body>
</html>
